{% if menu %}
{#	{{  dump(item) }}#}
	{% for item in items %}
		{% set _item = pll_post(item.master_object.id) %}
		<a class="{{ item.classes | join(' ') }} text-gray-300  hover:text-accent px-3 py-2 rounded-md text-sm font-bold"
		   target="{{ item.target }}"
		   href="{{ _item.link }}">
			{{ _item.title }}
			{% include "menu.twig" with {'items': item.children} %}
		</a>
	{% endfor %}

{% endif %}
