{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} pt-16" id="post-{{post.ID}}">

			{% if post.get_thumbnail %}

				<div class="hero max-h-96" style="background-image: url({{post.thumbnail.src}});">
					<div class="hero-overlay bg-opacity-60"></div>
					<div class="text-center hero-content text-neutral-content">
						<div class="max-w-md">
							<h1 class="my-24 text-6xl font-heading font-bold">
								{{post.title}}
							</h1>
						</div>
					</div>
				</div>
			{% else %}

				<div class="text-center w-full">
					<h1 class="my-16 pb-6 text-6xl font-heading font-bold text-neutral">
						{{post.title}}
					</h1>
				</div>
			{% endif %}






			<section class="article-content px-5 min-h-screen bg-gray-50 py-8 flex flex-col justify-center relative overflow-hidden lg:py-12">

				<div class="article-body prose lg:prose-xl prose-stone mx-auto pt-4">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}