{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <div class="btn-group">

            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <a href="{{ posts.pagination.pages|first.link }}" class="btn">«</a>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                    <a class="btn" href="{{ posts.pagination.prev.link }}">Previous</a>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                        <a href="{{ page.link }}" class="{{ page.class }} btn">{{ page.title }}</a>

                {% else %}
{#                    current#}
                    <a href="{{ page.link ?: '#'}}" class="{{ page.class }} btn btn-active">{{ page.title }}</a>

                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                    <a  class="btn" href="{{ posts.pagination.next.link }}">Next</a>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                    <a class="btn" href="{{ posts.pagination.pages|last.link }}">»</a>
            {% endif %}

        </div>
    </nav>
{% endif %}
